<a href="https://colab.research.google.com/github/MK316/statistics/blob/main/01_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estimates of location

Example: Location of estimates of population and murder rates (in units of murders per 1000,000 people per year) for each US state (2010 census)

In [14]:
import numpy as np
import pandas as pd
from scipy.stats import trim_mean

ðŸ’¾  [crime data](https://corgis-edu.github.io/corgis/csv/state_crime/) to download

In [17]:
url = 'https://raw.github.com/MK316/statistics/main/PSDS/state_crime.csv'
df1 = pd.read_csv(url)

state = df1
state.head()
# Dataset is now stored in a Pandas Dataframe

,State,Year,Data.Population,Data.Rates.Property.All,Data.Rates.Property.Burglary,Data.Rates.Property.Larceny,Data.Rates.Property.Motor,Data.Rates.Violent.All,Data.Rates.Violent.Assault,Data.Rates.Violent.Murder,...,Data.Rates.Violent.Robbery,Data.Totals.Property.All,Data.Totals.Property.Burglary,Data.Totals.Property.Larceny,Data.Totals.Property.Motor,Data.Totals.Violent.All,Data.Totals.Violent.Assault,Data.Totals.Violent.Murder,Data.Totals.Violent.Rape,Data.Totals.Violent.Robbery
0,Alabama,1960,3266740,1035.4,355.9,592.1,87.3,186.6,138.1,12.4,...,27.5,33823,11626,19344,2853,6097,4512,406,281,898
1,Alabama,1961,3302000,985.5,339.3,569.4,76.8,168.5,128.9,12.9,...,19.1,32541,11205,18801,2535,5564,4255,427,252,630
2,Alabama,1962,3358000,1067.0,349.1,634.5,83.4,157.3,119.0,9.4,...,22.5,35829,11722,21306,2801,5283,3995,316,218,754
3,Alabama,1963,3347000,1150.9,376.9,683.4,90.6,182.7,142.1,10.2,...,24.7,38521,12614,22874,3033,6115,4755,340,192,828
4,Alabama,1964,3407000,1358.7,466.6,784.1,108.0,213.1,163.0,9.3,...,29.1,46290,15898,26713,3679,7260,5555,316,397,992

In [20]:
print(state['Data.Population'].mean())
print(state['Data.Population'].median())

9708501.690208668
3358000.0

In [23]:
state.describe()

,Year,Data.Population,Data.Rates.Property.All,Data.Rates.Property.Burglary,Data.Rates.Property.Larceny,Data.Rates.Property.Motor,Data.Rates.Violent.All,Data.Rates.Violent.Assault,Data.Rates.Violent.Murder,Data.Rates.Violent.Rape,Data.Rates.Violent.Robbery,Data.Totals.Property.All,Data.Totals.Property.Burglary,Data.Totals.Property.Larceny,Data.Totals.Property.Motor,Data.Totals.Violent.All,Data.Totals.Violent.Assault,Data.Totals.Violent.Murder,Data.Totals.Violent.Rape,Data.Totals.Violent.Robbery
count,3115.000000,3.115000e+03,3115.000000,3115.000000,3115.000000,3115.000000,3115.000000,3115.000000,3115.000000,3115.000000,3115.000000,3.115000e+03,3.115000e+03,3.115000e+03,3.115000e+03,3.115000e+03,3.115000e+03,3115.000000,3115.000000,3115.000000
mean,1989.544141,9.708502e+06,3422.746388,980.836212,2255.336950,427.062504,397.877047,230.235441,6.477207,30.179872,120.786356,3.414501e+05,1.024037e+05,2.196652e+05,4.858270e+04,4.594917e+04,2.580668e+04,663.911717,3034.240449,15175.717817
std,17.299570,3.506750e+07,1575.438156,595.277457,970.917867,412.164938,287.498896,161.647444,5.886449,16.694626,143.516777,1.299392e+06,4.219078e+05,8.294311e+05,2.339655e+05,1.759960e+05,1.013202e+05,2437.666178,11714.612850,59589.454393
min,1960.000000,2.261670e+05,66.900000,126.300000,223.700000,31.100000,9.500000,3.600000,0.200000,0.800000,1.900000,4.320000e+02,7.510000e+02,1.489000e+03,1.940000e+02,3.700000e+01,1.400000e+01,1.000000,6.000000,8.000000
25%,1975.000000,1.279156e+06,2357.650000,561.800000,1575.450000,195.450000,217.200000,112.550000,3.100000,18.500000,37.300000,3.439550e+04,1.017150e+04,2.488000e+04,3.514000e+03,3.318000e+03,1.926000e+03,48.000000,328.000000,788.000000
50%,1990.000000,3.358000e+06,3420.200000,854.300000,2251.300000,315.400000,342.200000,195.800000,5.400000,28.800000,90.400000,1.015400e+05,2.871800e+04,6.743300e+04,1.033900e+04,1.154800e+04,6.378000e+03,186.000000,931.000000,3011.000000
75%,2005.000000,6.082836e+06,4433.900000,1218.200000,2876.900000,481.800000,518.250000,315.450000,8.400000,39.800000,152.200000,2.177235e+05,5.957700e+04,1.427570e+05,2.529950e+04,2.880400e+04,1.694900e+04,464.000000,1930.000000,7840.500000
max,2019.000000,3.282395e+08,9512.100000,5182.500000,5833.800000,4082.300000,2921.800000,1557.600000,80.600000,161.600000,1635.100000,1.296112e+07,8.632512e+06,8.142228e+06,6.004453e+06,1.932274e+06,1.135607e+06,24703.000000,139815.000000,687732.000000

# Estimates of variability

In [29]:
import statsmodels

In [26]:
state['Data.Population'].quantile(0.75) - state['Data.Population'].quantile(0.25)

4803680.5

# Exploring the data distribution
**Keywords:** Boxplot, frequency table, histogram, density plot

NameError: ignored